* {
  margin: 0;
  padding: 0;
}

body, html {
  background-color: #D8E0E4;
}

.linea-amarilla {
  width: 100%;  
  height: 4px;
  background-color: #FAB900;
  position: absolute;
  top: 70px;
}

.bloque-azul {
  width: 100%;
  height: 26px;
  background-color: #001C43;
  position: absolute;
  top: 73px;
}

.logo-espol {
  width: 125px; 
  height: 45px;
  opacity: 50%;
  position: absolute;
  top: 16px;
  left: 30px;
}

.schedule-maker {
  font-family: Hannari,;
  font-size: 18px;
  color: #787878;
  position: absolute;
  top: 28.5px;
  left: 160px;
}

.logo-taws {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 6px;
  right: 20px;
}